<script src="{{ base_path }}/assets/js/main.min.js"></script>

<script>
document.addEventListener("DOMContentLoaded", function () {
  var followButton = document.querySelector(".author__urls-wrapper button");
  var authorUrls = document.querySelector(".author__urls");

  if (followButton && authorUrls) {
    followButton.addEventListener("click", function () {
      authorUrls.style.display = authorUrls.style.display === "block" ? "none" : "block";
    });
  }
});
</script>

{% include analytics.html %}

{% include comments-providers/scripts.html %}
