/* Footer */
.page__footer {
  background: #fff;
  border-top: none;
  margin-top: 5rem;
}

.page__footer-follow {
  display: none;
}

.page__footer-copyright {
  background: #fff;
  color: #888;
  text-align: center;
  padding: 2rem 0;
  font-size: 0.9em;
}
